---
const title = "Profil";
---

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>Informacje o profilu użytkownika.</p>
  </body>
</html>
